{% extends "layout.html" %}
{% block content%}
<div class="container-fluid pb-4">
    <div class="bg-light p-4">
        <label class="form-label text-primary font-weight-bold" for="arrondissement">Cherchez des installations par nom
            d'arrondissement</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nom d'arrondissement..."
                aria-label="Nom arrondissement" aria-describedby="button-addon2" name="arrondissement">
            <button class="btn btn-primary" onclick="test()" type="button" id="btn-arr">Trouver</button>
        </div>
    </div>
</div>

{% endblock%}