{% extends "layout.html" %}
{% block content%}
<style>
    .loader {
        border: 7px solid #f3f3f3;
        border-top: 7px solid #5f5f5f;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="container-fluid pb-4 d-flex flex-column">
    <div class="d-md-flex flex-md-row align-items-md-start justify-content-md-between">
        <div class="bg-light p-4 col-md-5">
            <label class="form-label text-primary font-weight-bold" for="arrondissement">Cherchez des installations par
                nom
                d'arrondissement</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nom d'arrondissement..."
                    aria-label="Nom arrondissement" name="arrondissement">
                <button class="btn btn-primary" onclick="getInstallationsByArr()" type="button"
                    id="btn-arr">Trouver</button>
            </div>
            <div id="arr_error" role="alert"></div>
        </div>

        <div class="bg-dark rounded-circle text-white text-center h4 p-3 mt-md-5">OU</div>

        <div class="bg-light p-4 col-md-5">
            <label class="form-label text-primary font-weight-bold" for="nom_installation">Par nom
                d'installation</label>
            <div class="input-group mb-3">
                <select class="form-control" id="nom_installation">
                    {% for installation in installations %}
                    <option value="{{installation.id}}">{{installation.nom}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-secondary" type="button" onclick="getInstallationById()">Trouver</button>
            </div>
        </div>
    </div>
    <div role="alert" id="status"></div>
    <div role="alert" id="state">
    </div>
</div>

{% endblock %}